{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='src/css/base.css')}}">

    <meta charset="UTF-8">
</head>
<body>
    <div id="resposta">

        <div class="container">

        <h2><span> A cada {{ response.current_name }}, podemos comprar : ${{ response.ask }} de {{ other_response.current_name }}</span></h2>

        </div>
            <div class="container1">
                  <div class="row">
                    <div class="col-2 col-sm-2">Moeda</div>
                    <div class="col-2 col-sm-2">Valor Atual</div>
                    <div class="col-2 col-sm-2">Em relação ao</div>
                    <div class="col-2 col-sm-2">Maior valor hoje</div>
                    <div class="col-2 col-sm-2">Menor valor hoje</div>

                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>

                    <div class="col-3 col-sm-2">{{ response.current_name }}</div>
                    <div class="col-3 col-sm-2">{{ response.ask }}</div>
                    <div class="col-3 col-sm-2">{{ response.compare_name }}</div>
                    <div class="col-3 col-sm-2">{{ response.high }}</div>
                    <div class="col-3 col-sm-2">{{ response.low }}</div>

            </div>

            <h2><span> A cada {{ other_response.current_name }}, podemos comprar : ${{ other_response.ask }} de {{ response.current_name }}</span></h2>
            </div>
            <div class="container2">
                  <div class="row">
                    <div class="col-2 col-sm-2">Moeda</div>
                    <div class="col-2 col-sm-2">Valor Atual</div>
                    <div class="col-2 col-sm-2">Em relação ao</div>
                    <div class="col-2 col-sm-2">Maior valor hoje</div>
                    <div class="col-2 col-sm-2">Menor valor hoje</div>

                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>

                    <div class="col-3 col-sm-2">{{ other_response.current_name }}</div>
                    <div class="col-3 col-sm-2">{{ other_response.ask }}</div>
                    <div class="col-3 col-sm-2">{{ other_response.compare_name }}</div>
                    <div class="col-3 col-sm-2">{{ other_response.high }}</div>
                    <div class="col-3 col-sm-2">{{ other_response.low }}</div>

            </div>
            <a href="/coin_comparator"><button id="button-voltar"  >Voltar</button></a>
        </div>

    </div>


</body>
{% endblock %}'