{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='src/css/base.css')}}">
    <meta charset="UTF-8">
    <title>Coins_Compare</title>
</head>
<body >
    <div id="titulo">
        <h1>Escolha e compare duas moedas:</h1>
        <form id="selecao" method="post" action="/comparator">
            <div id="select_coin">
                <label for="coins_one">Choose a coin:</label>
                <select name="coins_one" id="coins_one">
                        <option value="BRL">Real</option>
                        <option value="USD">Dolar</option>
                        <option value="EUR">Euro</option>
                        <option value="ARS">Peso Argentino</option>
                </select>

                <label for="coins_two">Choose a coin:</label>
                <select name="coins_two" id="coins_two">
                    <option value="BRL">Real</option>
                    <option value="USD">Dolar</option>
                    <option value="EUR">Euro</option>
                    <option value="ARS">Peso Argentino</option>
                </select>

                <input type="submit" name="submit"/>
                <div>{{ response }}</div>
            </div>
        </form>
    </div>

</body>
</html>
{% endblock %}
