nav, nav a, #navbar, .nav-item, .nav-link, .active{
    background: #000000;
    color: white;
    font-weight: bold;
}

#menu, body h1 {
    padding-left: 18px
}

.menu-nav-active{
    overflow: hidden;
    color: black;
}




body {
text-align: center;
  background-color: #F0FFFF;
  color: #33333a;

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #323232;
}




#resposta{
    #F0FFFF
      padding-left:50px;
      margin: auto;
      width: 60%;
}

.col-2{
    padding-left:50px;
    color: #fffafa;
    background: #000000;
    font-size: 15px;
    text-align: center;
    border: 4px solid #000000;
    border-radius: 1%;
    font-weight: bold;

}

.col-3 {
    padding-left:50px;
    align-content: center;
    text-align: center;
    border: 4px solid #000000;
    border-radius: 1%;
}




#selecao {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    align-content: center;
    text-align: center;
    padding-top: 50px;
    border: 4px solid #000000;
    height:170px;
    width:700px;
    border-radius: 10px;
}



#titulo{
    padding-top: 100px;
}


#button-voltar {
    float: left;
    width: min(5%);
    width: max(10%);
    margin-right: 2%;
    height: 35px;
    background-color: rgb(138, 137, 137);
    text-align: center;
    margin-top: 25px;
    border-radius: 5px;

}

.row{
    padding-top: 30px;
    padding-bottom:30px;
}

#resposta{
 padding-bottom:30px;
}

.container{
     padding-top:30px;
}