
body {
  background: #fafafa;
  color: #33333a;
  padding-top: 120px;
}

h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

.main-color {
  background-color: #0e76a8 ;
}

.strike-through-td {
    text-decoration: line-through;
}

.col-2{
    color: #fffafa;
    background: #000000;
    font-size: 20px;
    text-align: center;
    border: 4px solid #ffffff;
    border-radius: 1%;
    font-weight: bold;

}

.col-3 {
    text-align: right;
    border: 4px solid #b0e0e6;
    border-radius: 1%;
}

.espaco {
    padding: 50px;
}

nav, nav a, #navbar, .nav-item, .nav-link, .active{
    background: #191970;
    color: white;
    font-weight: bold;
}

#menu, body h1 {
    padding-left: 18px
}

.menu-nav-active{
    overflow: hidden;
}

#selecao {
    padding-top: 50px;
    padding-left: 180px;
    border: 4px solid #b0e0e6;
    height:120px;
    width:700px;
}