
body {
  background: #fafafa;
  color: #33333a;
  padding-top: 120px;
}

h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

.main-color {
  background-color: #0e76a8 ;
}

.strike-through-td {
    text-decoration: line-through;
}

.col-2 {
    font-size: 20px;
    text-align: center;
    border: 4px solid #2c2f3f;

}

.col-3 {
    text-align: right;
    border: 4px solid #b0e0e6;
}

.espaco{
    padding: 50px;
}
